<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.exomessage">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" /> <!-- Required up to Android 12 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Exomessage"
        >

        <!-- MainActivity (login screen) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- HomeActivity (must be declared!) -->
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".forgotActivity"
            android:exported="true" />
        <activity
            android:name=".signupActivity"
            android:exported="true" />
        <activity
            android:name=".loginActivity"
            android:exported="true" />
        <activity
            android:name=".MessagingActivity"
            android:exported="true" />
        <activity
            android:name=".FriendsActivity"
            android:exported="true" />

        <activity
        android:name=".PostStatusActivity"
         />

        <activity
        android:name=".StatusActivity"
         />
        <activity
            android:name=".ViewStatusActivity"
            />

        <activity
            android:name=".AddFriendsActivity"
            android:exported="true" />
        <activity android:name=".FriendsOfFriendsActivity" />
    </application>
</manifest>